@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
  background: #000000;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a{
    color: inherit;
}

.container{
    width: 100%;
    margin: 8px;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
    /* border: 1px solid red; */
}

.nav{
    height: 100%;
    /* border: 1px solid red; */

    padding-inline: 20px;
    border-radius: 10px;
}

img{
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .container .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

header .container .nav .icon{
    width: 40px;
    height: 40px;
    gap: 10px;
    display: flex;
}
header .container .nav .icon img {
    border-radius: 50%;
}
header .container .nav .navigation{
    display: flex;
    gap: 40px;
    font-size: 16px;
}
header .container .nav .navigation li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .container .nav .navigation li a svg{
    display: none;
}
header .container .nav .connections{
    display: flex;
    gap: 20px;
}



header .container .nav .connections li a svg {
    width: 30px;
    height: 30px;
}

header .container .nav .icon p{
    font-size: 12px;
    align-items: center;
    display: flex;
}

/* main */

main section {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* main > home */



main .home{
    height: calc(100vh - 81px);
    
}

main .home .container{
    background-image: url(../images/sardorlarGroup.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom ;
    

}


main .home .container .nav {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;

}

main .home .container .nav h1{
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -2px;
    border: 1px solid red;
    max-width: 500px;
}

main .home .container .nav p{
    /* border: 1px solid red; */
    /* width: 300px; */
    text-align: end;
    font-size: 24px;
    padding-block: 15px;
}

/* responsive */


@media screen and (max-width: 1000px) {
    main .home .container .nav {
        flex-direction: column;
        padding-top: 40px;
        text-align: center;
        justify-content: start;
    }
    main .home .container .nav h1{
        font-size: 32px;
        text-align: center;
        font-weight: 600;
        margin-inline: auto;
    }
    main .home .container .nav p{
        text-align: center;
        color: rgba(0, 0, 0, 0.678);
    }
}

@media screen and (max-width: 768px) {
    header .container .nav .icon p {
        display: none;
    }
    header .container .nav .connections{
        display: none;
    }
}

@media screen and (max-width: 600px) {

    header .container .nav .navigation li{
        font-size: 12px;
    }
    main .home .container .nav p{
        font-size: 16px;
    }
}

@media screen and (max-width: 412px) {
    header{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
    }
    header .container .nav{
        justify-content: center;
    }
    header .container .nav .navigation{
        justify-content: space-between;
        width: 100%;
    }
    header .container .nav .navigation li a span{
        font-size: 10px;
    }
    

    header .container .nav .navigation li a svg{
        display: flex;
        width: 30px;
        height: 30px;
    }
    header .container .nav .icon {
        display: none;
    }
    
}